{% extends "PwebMainBundle::layout.html.twig" %}
 
{% block title %}
  Espace client
{% endblock %}
 
{% block PwebMain_body %}
 
  <h2>Bonjour et bienvenue sur votre espace client</h2>
  <br></br>
  Cet espace sécurisé et personnel vous permet de suivre, de modifier et de valider vos commandes en ligne.
    <br></br>
  <center>
  <a href="{{ path('PwebMain_accueil') }}" class="btn btn-info btn-large"><i class="icon-white icon-home"></i> Continuer vos achats</a>
  </center>
{% endblock %}