{% extends "PwebMainBundle::layout.html.twig" %}
 
{% block title %}
  Réinitialisation
{% endblock %}
 
{% block PwebMain_body %}
 
  <h2>Initialisation des Produits</h2>
    <br></br>
  <p>Les produits par défaut ont bien étés ajoutés !</p>
    <br></br>
<a href="{{ path('PwebMain_accueil') }}" class="btn btn-inverse btn-large"><i class="icon-white icon-home"></i> Retour à l'accueil</a>
  </p>
{% endblock %}