{# src/Pweb/MainBundle/Resources/views/Main/menu.html.twig #}
 
<h3>Tri par catégorie</h3>

<ul class="nav nav-pills nav-stacked">
  {% for categorie in liste_categories %}
    <li><a href="#">{{ categorie.libellecategorie }}</a></li>
  {% endfor %}
</ul>


<h3>Les 10 derniers produits</h3>

<ul class="nav nav-pills nav-stacked">
  {% for produit in liste_produits %}
    <li><a href="{{ path('PwebMain_voir', {'id': produit.id}) }}">{{ produit.libelle }}</a></li>
  {% endfor %}
</ul>