{% extends "PwebMainBundle::layout.html.twig" %}
 
{% block title %}
  Réinitialisation
{% endblock %}
 
{% block PwebMain_body %}
 
  <h2>Opération effectuée avec succès.</h2>
  <p>Les produits par défaut ont bien étés ajoutés !</p>
  <br></br>
          <a href="{{ path('PwebMain_accueil') }}" class="btn btn-inverse btn-small">
        <i class="icon-chevron-left"></i>
          Retour à la liste des produits
        </a>
{% endblock %}