{% extends "PwebMainBundle::layout.html.twig" %}
 
{% block title %}
  Accueil - {{ parent() }}
{% endblock %}
 
{% block PwebMain_body %}
 
  <h2>Les produits par défaut ont bien étés ajoutés !</h2>
  
{% endblock %}